body {
  color: white;
  position: relative;
  margin: 0 auto;
  -webkit-user-select: none;
}

.container {
  margin-top: 15px;
}

.tagging-wrapper {
  background-image: url('image/image.jpg');
  width: 512px;
  height: 512px;
  border: 1px solid black;
  position: relative;
  margin: 0 auto;
}

.draggable-element {
  position: absolute;
  border-radius: 5px;
  background-color: rgba(34, 34, 34, .75);
  opacity: .9;
  border: 1px solid #000;
  cursor: pointer
}

.draggable-element__info {
  padding: 5px 15px;
  display: inline-block;
} 

.delete {
  top: -1px;
  position: absolute;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  background-color:  rgba(34, 34, 34, .75);
} 

.hide {
  visibility: hidden;
}

.move-left {
  right: 100%
}