.container {
  background-image: url('image/image.jpg');
  background-repeat: no-repeat;
  width: 512px;
  height: 512px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  position: relative;
  -webkit-user-select: none;
}
.draggable {
  cursor: pointer;
}

.draggable-element__info {
  color: white;
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(34, 34, 34, .75);
  opacity: .9;
  cursor: pointer;
  display: inline-block;
}

.draggable-element__delete {
  color: white;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  background-color:  rgba(34, 34, 34, .75);
  cursor: pointer;
  visibility: hidden;
}

.first-position {
  position: absolute;
  top: 100px;
  left: 100px;
}
.second-position {
  position: absolute;
  top: 200px;
  left: 200px;

}
.third-position {
  position: absolute;
  top: 300px;
  left: 200px;
}